html, body {
  font-family: 'Open Sans', Verdana, sans-serif;
}

ul.media-list li.media a img {
  width: 155px;
  height: 85px;
}

.bs-docs-example {
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.bs-docs-example:after {
content: "Example";
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #ddd;
color: #9da0a4;
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}

.carousel-control.right {
right: 15px !important;
left: auto !important;
}

.carousel-control {
position: absolute !important;
top: 40% !important;
left: 15px !important;
width: 40px !important;
height: 40px !important;
margin-top: -20px !important;
font-size: 60px !important;
font-weight: 100 !important;
line-height: 30px !important;
color: #fff !important;
text-align: center !important;
background: #222 !important;
border: 3px solid #fff !important;
-webkit-border-radius: 23px !important;
-moz-border-radius: 23px !important;
border-radius: 23px !important;
opacity: .5 !important;
filter: alpha(opacity=50) !important;
}

.carousel-caption {
position: absolute !important;
right: 0 !important;
bottom: 0 !important;
left: 0 !important;
padding: 15px !important;
background: #333333 !important;
background: rgba(0, 0, 0, 0.75) !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 !important;
}

.reveal pre {
  font-size: 0.75em !important;
  word-wrap: normal;
}

pre {
  word-wrap: normal;
  word-break: normal;
}

ul.nav li,
ul.nav li a {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 13px;	
}

a.brand {
  font-size: 16px !important;
} 

.reveal section img {
  margin: 0;
  padding: 0;
  border: 0;
}

.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 350px;
		overflow: hidden;
		margin: 50px auto;
		position: relative;
		background: url('../img/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../img/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../img/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../img/grad_right.png') repeat-y;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../img/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../img/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}

h4.js-job-title {
  padding: 4px;
  color: #E6DB74;	
}

.reveal .slides>section, .reveal .slides>section>section {
  padding-top: 20px;	
}

ul {
  -webkit-padding-start: 10px !important;
}  				

.navbar .btn-navbar {
	/*margin-right: 45px !important;*/
}
.navbar {
  position: relative;
}
.navbar-fixed-top a.brand {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.reveal .slides>section, .reveal .slides>section>section {
  padding-top: 5px;
}

.reveal .js-highlight-1 {
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
	color: #504f4f;
	background: #cccccc;
	border: #666 2px solid;
	border-radius: 6px;
	text-shadow: 0px 2px 1px #bbbaba;
}

.reveal .js-highlight-2 {
    /*stitching*/
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
     
    background-color: #556068;
     
    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
 }   

.reveal .js-highlight-3 {
padding: 5px 0;
margin: 2px 0 0;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}  

.reveal .label, .reveal .badge {
display: inline-block;
padding: 2px 4px;
font-weight: bold;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: normal;
vertical-align: baseline;
}    

ul.js-list li {
  list-style-type: none;
}
