/*
   File: tc_font_icons.css
   Author: jsheil
   Copyright WBT Systems, 2013-2013
   Contents:
*/
/*
   Date:          Author:  Comments:
    6th Nov 2013  jsheil   #16624 Activity Type Icons
*/
@font-face {
  font-family: 'tc_font_icons';
  src: url('../font/tc_font_icons.eot?90329088');
  src: url('../font/tc_font_icons.eot?90329088#iefix') format('embedded-opentype'),
       url('../font/tc_font_icons.woff?90329088') format('woff'),
       url('../font/tc_font_icons.ttf?90329088') format('truetype'),
       url('../font/tc_font_icons.svg?90329088#tc_font_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tc_font_icons';
    src: url('../font/tc_font_icons.svg?90329088#tc_font_icons') format('svg');
  }
}
*/
 
 [class^="tc-font-icon-"]:before, [class*=" tc-font-icon-"]:before {
  font-family: "tc_font_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.tc-font-icon-android:before { content: '\e838'; } /* '' */
.tc-font-icon-plus:before { content: '\e84f'; } /* '' */
.tc-font-icon-plus-1:before { content: '\e9a6'; } /* '' */
.tc-font-icon-plus-3:before { content: '\ea66'; } /* '' */
.tc-font-icon-minus:before { content: '\e853'; } /* '' */
.tc-font-icon-minus-1:before { content: '\e9cd'; } /* '' */
.tc-font-icon-progress-0:before { content: '\e802'; } /* '' */
.tc-font-icon-progress-1:before { content: '\e803'; } /* '' */
.tc-font-icon-progress-2:before { content: '\e804'; } /* '' */
.tc-font-icon-progress-3:before { content: '\e805'; } /* '' */
.tc-font-icon-progress-4:before { content: '\e806'; } /* '' */
.tc-font-icon-progress-5:before { content: '\e807'; } /* '' */
.tc-font-icon-progress-6:before { content: '\e808'; } /* '' */
.tc-font-icon-progress-7:before { content: '\e809'; } /* '' */
.tc-font-icon-info-1:before { content: '\e9d0'; } /* '' */
.tc-font-icon-info-3:before { content: '\e813'; } /* '' */
.tc-font-icon-left-big:before { content: '\e8d0'; } /* '' */
.tc-font-icon-left-thin:before { content: '\e996'; } /* '' */
.tc-font-icon-left-3:before { content: '\ea53'; } /* '' */
.tc-font-icon-left-4:before { content: '\ea7b'; } /* '' */
.tc-font-icon-up-big:before { content: '\e8d2'; } /* '' */
.tc-font-icon-up-4:before { content: '\ea7d'; } /* '' */
.tc-font-icon-up-thin:before { content: '\e9ac'; } /* '' */
.tc-font-icon-up-3:before { content: '\ea55'; } /* '' */
.tc-font-icon-right-thin:before { content: '\e99d'; } /* '' */
.tc-font-icon-right-4:before { content: '\ea7c'; } /* '' */
.tc-font-icon-right-big:before { content: '\e8d1'; } /* '' */
.tc-font-icon-right-3:before { content: '\ea54'; } /* '' */
.tc-font-icon-down-thin:before { content: '\e9f7'; } /* '' */
.tc-font-icon-down-3:before { content: '\ea52'; } /* '' */
.tc-font-icon-down-4:before { content: '\ea7a'; } /* '' */
.tc-font-icon-down-big:before { content: '\e8cf'; } /* '' */
.tc-font-icon-level-up-1:before { content: '\e9df'; } /* '' */
.tc-font-icon-level-down-1:before { content: '\e9d7'; } /* '' */
.tc-font-icon-left-bold-1:before { content: '\ea7f'; } /* '' */
.tc-font-icon-down-bold-1:before { content: '\ea7e'; } /* '' */
.tc-font-icon-plus-squared-1:before { content: '\e9bc'; } /* '' */
.tc-font-icon-minus-squared-1:before { content: '\e9e4'; } /* '' */
.tc-font-icon-home-3:before { content: '\e823'; } /* '' */
.tc-font-icon-home-5:before { content: '\e836'; } /* '' */
.tc-font-icon-home-2:before { content: '\e81a'; } /* '' */
.tc-font-icon-hourglass-1:before { content: '\ea75'; } /* '' */
.tc-font-icon-erase:before { content: '\e9f8'; } /* '' */
.tc-font-icon-pause:before { content: '\e925'; } /* '' */
.tc-font-icon-fast-fw:before { content: '\e94d'; } /* '' */
.tc-font-icon-fast-bw:before { content: '\e94e'; } /* '' */
.tc-font-icon-to-end:before { content: '\e932'; } /* '' */
.tc-font-icon-to-start:before { content: '\e940'; } /* '' */
.tc-font-icon-clock-3:before { content: '\ea74'; } /* '' */
.tc-font-icon-hourglass:before { content: '\e9a8'; } /* '' */
.tc-font-icon-stop:before { content: '\e924'; } /* '' */
.tc-font-icon-up-dir-1:before { content: '\e9f2'; } /* '' */
.tc-font-icon-up-dir:before { content: '\e8c9'; } /* '' */
.tc-font-icon-play:before { content: '\e909'; } /* '' */
.tc-font-icon-right-dir-1:before { content: '\e9f1'; } /* '' */
.tc-font-icon-right-dir-2:before { content: '\eaa7'; } /* '' */
.tc-font-icon-right-dir:before { content: '\e8c7'; } /* '' */
.tc-font-icon-down-dir:before { content: '\e8ca'; } /* '' */
.tc-font-icon-down-dir-2:before { content: '\eaa6'; } /* '' */
.tc-font-icon-down-dir-1:before { content: '\e9c0'; } /* '' */
.tc-font-icon-left-dir-1:before { content: '\e9f0'; } /* '' */
.tc-font-icon-left-dir:before { content: '\e8c8'; } /* '' */
.tc-font-icon-cloud:before { content: '\e918'; } /* '' */
.tc-font-icon-umbrella:before { content: '\e931'; } /* '' */
.tc-font-icon-star-2:before { content: '\ea87'; } /* '' */
.tc-font-icon-star:before { content: '\e83a'; } /* '' */
.tc-font-icon-star-empty:before { content: '\e83b'; } /* '' */
.tc-font-icon-check:before { content: '\e928'; } /* '' */
.tc-font-icon-left-hand:before { content: '\e8d4'; } /* '' */
.tc-font-icon-up-hand:before { content: '\e8d5'; } /* '' */
.tc-font-icon-right-hand:before { content: '\e8d3'; } /* '' */
.tc-font-icon-down-hand:before { content: '\e8d6'; } /* '' */
.tc-font-icon-th-list:before { content: '\e800'; } /* '' */
.tc-font-icon-th-list-1:before { content: '\e98d'; } /* '' */
.tc-font-icon-heart-empty-1:before { content: '\ea86'; } /* '' */
.tc-font-icon-heart-empty:before { content: '\e839'; } /* '' */
.tc-font-icon-heart-2:before { content: '\ea85'; } /* '' */
.tc-font-icon-heart:before { content: '\e826'; } /* '' */
.tc-font-icon-music:before { content: '\e98e'; } /* '' */
.tc-font-icon-th:before { content: '\e848'; } /* '' */
.tc-font-icon-th-1:before { content: '\ea8b'; } /* '' */
.tc-font-icon-flag:before { content: '\e859'; } /* '' */
.tc-font-icon-tools:before { content: '\e9d4'; } /* '' */
.tc-font-icon-cog:before { content: '\e89f'; } /* '' */
.tc-font-icon-cog-3:before { content: '\ea4d'; } /* '' */
.tc-font-icon-cog-5:before { content: '\ea94'; } /* '' */
.tc-font-icon-cog-1:before { content: '\e9cb'; } /* '' */
.tc-font-icon-cog-2:before { content: '\ea21'; } /* '' */
.tc-font-icon-attention:before { content: '\e885'; } /* '' */
.tc-font-icon-flash:before { content: '\e923'; } /* '' */
.tc-font-icon-cog-alt:before { content: '\e8a0'; } /* '' */
.tc-font-icon-scissors:before { content: '\e950'; } /* '' */
.tc-font-icon-flight:before { content: '\e934'; } /* '' */
.tc-font-icon-mail-3:before { content: '\e82c'; } /* '' */
.tc-font-icon-mail-2:before { content: '\e820'; } /* '' */
.tc-font-icon-mail:before { content: '\e801'; } /* '' */
.tc-font-icon-edit:before { content: '\e891'; } /* '' */
.tc-font-icon-pencil-1:before { content: '\e9e3'; } /* '' */
.tc-font-icon-pencil:before { content: '\e87b'; } /* '' */
.tc-font-icon-ok:before { content: '\e822'; } /* '' */
.tc-font-icon-ok-3:before { content: '\ea8c'; } /* '' */
.tc-font-icon-check-1:before { content: '\e81b'; } /* '' */
.tc-font-icon-ok-2:before { content: '\ea62'; } /* '' */
.tc-font-icon-ok-circled:before { content: '\e849'; } /* '' */
.tc-font-icon-ok-circle:before { content: '\ea8d'; } /* '' */
.tc-font-icon-cancel-4:before { content: '\ea8e'; } /* '' */
.tc-font-icon-cancel:before { content: '\e84c'; } /* '' */
.tc-font-icon-cancel-1:before { content: '\e9a4'; } /* '' */
.tc-font-icon-cancel-circled-1:before { content: '\e81e'; } /* '' */
.tc-font-icon-cancel-circle:before { content: '\ea8f'; } /* '' */
.tc-font-icon-cancel-circled:before { content: '\e84d'; } /* '' */
.tc-font-icon-asterisk:before { content: '\e944'; } /* '' */
.tc-font-icon-cancel-3:before { content: '\ea64'; } /* '' */
.tc-font-icon-cancel-squared:before { content: '\e9a3'; } /* '' */
.tc-font-icon-help-circled-2:before { content: '\ea67'; } /* '' */
.tc-font-icon-help-1:before { content: '\e9ec'; } /* '' */
.tc-font-icon-help-circled-alt:before { content: '\ea68'; } /* '' */
.tc-font-icon-attention-circled:before { content: '\e883'; } /* '' */
.tc-font-icon-quote:before { content: '\e9bd'; } /* '' */
.tc-font-icon-plus-circle:before { content: '\ea90'; } /* '' */
.tc-font-icon-plus-circled-1:before { content: '\e9b9'; } /* '' */
.tc-font-icon-plus-circled:before { content: '\e850'; } /* '' */
.tc-font-icon-minus-circled-1:before { content: '\e9d1'; } /* '' */
.tc-font-icon-minus-circle:before { content: '\ea91'; } /* '' */
.tc-font-icon-minus-circled:before { content: '\e854'; } /* '' */
.tc-font-icon-right-1:before { content: '\e9aa'; } /* '' */
.tc-font-icon-forward-1:before { content: '\e9b8'; } /* '' */
.tc-font-icon-forward-2:before { content: '\ea9b'; } /* '' */
.tc-font-icon-forward:before { content: '\e876'; } /* '' */
.tc-font-icon-ccw-1:before { content: '\e9b3'; } /* '' */
.tc-font-icon-ccw:before { content: '\e8dc'; } /* '' */
.tc-font-icon-cw-1:before { content: '\e9c2'; } /* '' */
.tc-font-icon-cw:before { content: '\e8db'; } /* '' */
.tc-font-icon-cw-2:before { content: '\ea5a'; } /* '' */
.tc-font-icon-left-1:before { content: '\e99f'; } /* '' */
.tc-font-icon-up-1:before { content: '\e9b5'; } /* '' */
.tc-font-icon-down-1:before { content: '\e9e0'; } /* '' */
.tc-font-icon-resize-vertical:before { content: '\e8aa'; } /* '' */
.tc-font-icon-resize-horizontal:before { content: '\e8a9'; } /* '' */
.tc-font-icon-eject:before { content: '\e95b'; } /* '' */
.tc-font-icon-cog-4:before { content: '\ea6f'; } /* '' */
.tc-font-icon-list-add:before { content: '\e9d8'; } /* '' */
.tc-font-icon-list-1:before { content: '\e9c7'; } /* '' */
.tc-font-icon-down-outline:before { content: '\ea32'; } /* '' */
.tc-font-icon-down-2:before { content: '\ea28'; } /* '' */
.tc-font-icon-down-small:before { content: '\ea2e'; } /* '' */
.tc-font-icon-left-outline:before { content: '\ea31'; } /* '' */
.tc-font-icon-left-2:before { content: '\ea29'; } /* '' */
.tc-font-icon-left-small:before { content: '\ea2d'; } /* '' */
.tc-font-icon-right-outline:before { content: '\ea30'; } /* '' */
.tc-font-icon-right-2:before { content: '\ea34'; } /* '' */
.tc-font-icon-right-small:before { content: '\ea2c'; } /* '' */
.tc-font-icon-arrows-cw-1:before { content: '\ea2a'; } /* '' */
.tc-font-icon-up-outline:before { content: '\ea2f'; } /* '' */
.tc-font-icon-up-2:before { content: '\ea33'; } /* '' */
.tc-font-icon-up-small:before { content: '\ea2b'; } /* '' */
.tc-font-icon-attach-outline:before { content: '\ea0e'; } /* '' */
.tc-font-icon-cancel-alt:before { content: '\ea08'; } /* '' */
.tc-font-icon-cancel-alt-filled:before { content: '\ea07'; } /* '' */
.tc-font-icon-calendar-outlilne:before { content: '\ea1d'; } /* '' */
.tc-font-icon-calendar-1:before { content: '\ea1c'; } /* '' */
.tc-font-icon-left-open-outline:before { content: '\ea24'; } /* '' */
.tc-font-icon-left-open-2:before { content: '\ea25'; } /* '' */
.tc-font-icon-right-open-outline:before { content: '\ea26'; } /* '' */
.tc-font-icon-right-open-2:before { content: '\ea27'; } /* '' */
.tc-font-icon-clipboard-1:before { content: '\e819'; } /* '' */
.tc-font-icon-code-outline:before { content: '\ea0f'; } /* '' */
.tc-font-icon-code-2:before { content: '\ea10'; } /* '' */
.tc-font-icon-cog-outline:before { content: '\ea22'; } /* '' */
.tc-font-icon-cancel-circled-2:before { content: '\ea06'; } /* '' */
.tc-font-icon-desktop-1:before { content: '\ea36'; } /* '' */
.tc-font-icon-laptop-1:before { content: '\ea35'; } /* '' */
.tc-font-icon-tablet:before { content: '\e818'; } /* '' */
.tc-font-icon-doc-add:before { content: '\ea14'; } /* '' */
.tc-font-icon-doc-remove:before { content: '\ea15'; } /* '' */
.tc-font-icon-doc-text:before { content: '\e817'; } /* '' */
.tc-font-icon-doc-1:before { content: '\ea13'; } /* '' */
.tc-font-icon-folder-add:before { content: '\ea17'; } /* '' */
.tc-font-icon-folder-delete:before { content: '\ea18'; } /* '' */
.tc-font-icon-folder-2:before { content: '\ea16'; } /* '' */
.tc-font-icon-users-1:before { content: '\ea02'; } /* '' */
.tc-font-icon-heart-1:before { content: '\e9fd'; } /* '' */
.tc-font-icon-clipboard:before { content: '\e80f'; } /* '' */
.tc-font-icon-heart-filled:before { content: '\e9fe'; } /* '' */
.tc-font-icon-home-outline:before { content: '\e816'; } /* '' */
.tc-font-icon-home-4:before { content: '\e835'; } /* '' */
.tc-font-icon-info-2:before { content: '\ea0d'; } /* '' */
.tc-font-icon-comment-1:before { content: '\ea12'; } /* '' */
.tc-font-icon-chat-alt:before { content: '\ea11'; } /* '' */
.tc-font-icon-plus-outline:before { content: '\ea05'; } /* '' */
.tc-font-icon-plus-2:before { content: '\ea04'; } /* '' */
.tc-font-icon-rss-2:before { content: '\ea19'; } /* '' */
.tc-font-icon-basket-2:before { content: '\ea1e'; } /* '' */
.tc-font-icon-facebook-circled-1:before { content: '\ea39'; } /* '' */
.tc-font-icon-facebook-2:before { content: '\ea38'; } /* '' */
.tc-font-icon-linkedin-2:before { content: '\ea37'; } /* '' */
.tc-font-icon-home:before { content: '\e80c'; } /* '' */
.tc-font-icon-skype-outline:before { content: '\ea42'; } /* '' */
.tc-font-icon-skype-1:before { content: '\ea43'; } /* '' */
.tc-font-icon-tumbler-circled:before { content: '\ea41'; } /* '' */
.tc-font-icon-tumbler:before { content: '\ea40'; } /* '' */
.tc-font-icon-twitter-circled-1:before { content: '\ea3f'; } /* '' */
.tc-font-icon-twitter-2:before { content: '\ea3e'; } /* '' */
.tc-font-icon-sort-alphabet-outline:before { content: '\ea3a'; } /* '' */
.tc-font-icon-mail-1:before { content: '\e80b'; } /* '' */
.tc-font-icon-sort-alphabet:before { content: '\ea3b'; } /* '' */
.tc-font-icon-sort-numeric-outline:before { content: '\ea3c'; } /* '' */
.tc-font-icon-sort-numeric:before { content: '\ea3d'; } /* '' */
.tc-font-icon-edit-alt:before { content: '\e80d'; } /* '' */
.tc-font-icon-wrench-outline:before { content: '\ea1f'; } /* '' */
.tc-font-icon-star-1:before { content: '\e9ff'; } /* '' */
.tc-font-icon-star-filled:before { content: '\ea00'; } /* '' */
.tc-font-icon-stopwatch:before { content: '\ea1a'; } /* '' */
.tc-font-icon-popup-1:before { content: '\ea23'; } /* '' */
.tc-font-icon-ok-outline:before { content: '\ea0c'; } /* '' */
.tc-font-icon-ok-1:before { content: '\ea0b'; } /* '' */
.tc-font-icon-cancel-outline:before { content: '\ea0a'; } /* '' */
.tc-font-icon-cancel-2:before { content: '\ea09'; } /* '' */
.tc-font-icon-briefcase:before { content: '\e80e'; } /* '' */
.tc-font-icon-user-add:before { content: '\ea03'; } /* '' */
.tc-font-icon-user-1:before { content: '\ea01'; } /* '' */
.tc-font-icon-left-circle-1:before { content: '\eaa3'; } /* '' */
.tc-font-icon-left-circle:before { content: '\ea57'; } /* '' */
.tc-font-icon-right-circle:before { content: '\ea58'; } /* '' */
.tc-font-icon-right-circle-1:before { content: '\eaa4'; } /* '' */
.tc-font-icon-up-circle:before { content: '\ea59'; } /* '' */
.tc-font-icon-up-circle-1:before { content: '\eaa5'; } /* '' */
.tc-font-icon-down-circle:before { content: '\ea56'; } /* '' */
.tc-font-icon-down-circle-1:before { content: '\eaa2'; } /* '' */
.tc-font-icon-left-bold:before { content: '\e9f4'; } /* '' */
.tc-font-icon-right-bold:before { content: '\e9f5'; } /* '' */
.tc-font-icon-up-bold:before { content: '\e9f6'; } /* '' */
.tc-font-icon-down-bold:before { content: '\e9f3'; } /* '' */
.tc-font-icon-star-half:before { content: '\e83c'; } /* '' */
.tc-font-icon-ok-circled2:before { content: '\e84a'; } /* '' */
.tc-font-icon-cancel-circled2:before { content: '\e84e'; } /* '' */
.tc-font-icon-help-circled-1:before { content: '\e9e5'; } /* '' */
.tc-font-icon-help-circled:before { content: '\e869'; } /* '' */
.tc-font-icon-info-circled-1:before { content: '\e9cf'; } /* '' */
.tc-font-icon-info-circled:before { content: '\e86a'; } /* '' */
.tc-font-icon-th-large-1:before { content: '\ea8a'; } /* '' */
.tc-font-icon-th-large:before { content: '\e847'; } /* '' */
.tc-font-icon-eye:before { content: '\e85e'; } /* '' */
.tc-font-icon-eye-off:before { content: '\e85d'; } /* '' */
.tc-font-icon-tag:before { content: '\e85c'; } /* '' */
.tc-font-icon-tags:before { content: '\e85b'; } /* '' */
.tc-font-icon-camera-alt:before { content: '\e846'; } /* '' */
.tc-font-icon-reply-1:before { content: '\e9eb'; } /* '' */
.tc-font-icon-reply-2:before { content: '\ea9a'; } /* '' */
.tc-font-icon-reply-all-2:before { content: '\ea9d'; } /* '' */
.tc-font-icon-reply-all-1:before { content: '\e9a7'; } /* '' */
.tc-font-icon-code-1:before { content: '\e9ce'; } /* '' */
.tc-font-icon-code-3:before { content: '\ea9c'; } /* '' */
.tc-font-icon-export-1:before { content: '\e9d2'; } /* '' */
.tc-font-icon-export:before { content: '\e87a'; } /* '' */
.tc-font-icon-print:before { content: '\e890'; } /* '' */
.tc-font-icon-retweet:before { content: '\e88f'; } /* '' */
.tc-font-icon-comment:before { content: '\e88c'; } /* '' */
.tc-font-icon-comment-3:before { content: '\ea99'; } /* '' */
.tc-font-icon-comment-alt:before { content: '\ea98'; } /* '' */
.tc-font-icon-comment-alt2:before { content: '\ea47'; } /* '' */
.tc-font-icon-comment-inv-alt2:before { content: '\ea48'; } /* '' */
.tc-font-icon-chat:before { content: '\e88b'; } /* '' */
.tc-font-icon-chat-1:before { content: '\ea49'; } /* '' */
.tc-font-icon-chat-inv:before { content: '\ea4a'; } /* '' */
.tc-font-icon-location:before { content: '\e882'; } /* '' */
.tc-font-icon-trash:before { content: '\e87f'; } /* '' */
.tc-font-icon-trash-2:before { content: '\ea5d'; } /* '' */
.tc-font-icon-trash-1:before { content: '\ea4b'; } /* '' */
.tc-font-icon-trash-empty:before { content: '\ea4c'; } /* '' */
.tc-font-icon-doc-2:before { content: '\ea97'; } /* '' */
.tc-font-icon-doc-text-inv:before { content: '\e81d'; } /* '' */
.tc-font-icon-docs-landscape:before { content: '\ea96'; } /* '' */
.tc-font-icon-archive:before { content: '\e80a'; } /* '' */
.tc-font-icon-archive-1:before { content: '\e9a0'; } /* '' */
.tc-font-icon-rss-1:before { content: '\e9b6'; } /* '' */
.tc-font-icon-rss-3:before { content: '\ea4e'; } /* '' */
.tc-font-icon-rss-4:before { content: '\ea95'; } /* '' */
.tc-font-icon-share:before { content: '\e9e1'; } /* '' */
.tc-font-icon-basket-3:before { content: '\ea5b'; } /* '' */
.tc-font-icon-basket:before { content: '\e8a2'; } /* '' */
.tc-font-icon-basket-1:before { content: '\e992'; } /* '' */
.tc-font-icon-calendar-alt:before { content: '\e812'; } /* '' */
.tc-font-icon-login:before { content: '\e8a3'; } /* '' */
.tc-font-icon-login-1:before { content: '\e9a1'; } /* '' */
.tc-font-icon-logout:before { content: '\e833'; } /* '' */
.tc-font-icon-logout-1:before { content: '\e834'; } /* '' */
.tc-font-icon-logout-3:before { content: '\ea93'; } /* '' */
.tc-font-icon-resize-full-2:before { content: '\ea4f'; } /* '' */
.tc-font-icon-resize-full:before { content: '\e8b6'; } /* '' */
.tc-font-icon-resize-full-1:before { content: '\e9ca'; } /* '' */
.tc-font-icon-resize-full-3:before { content: '\ea9e'; } /* '' */
.tc-font-icon-resize-full-alt-1:before { content: '\ea50'; } /* '' */
.tc-font-icon-resize-small:before { content: '\e8ab'; } /* '' */
.tc-font-icon-resize-small-1:before { content: '\e9d5'; } /* '' */
.tc-font-icon-popup:before { content: '\e9e7'; } /* '' */
.tc-font-icon-popup-2:before { content: '\ea51'; } /* '' */
.tc-font-icon-publish:before { content: '\e9e8'; } /* '' */
.tc-font-icon-window:before { content: '\e9ef'; } /* '' */
.tc-font-icon-arrow-combo:before { content: '\e9ee'; } /* '' */
.tc-font-icon-zoom-in:before { content: '\e8a7'; } /* '' */
.tc-font-icon-zoom-out:before { content: '\e8a6'; } /* '' */
.tc-font-icon-language:before { content: '\e9af'; } /* '' */
.tc-font-icon-database:before { content: '\e998'; } /* '' */
.tc-font-icon-down-circled2:before { content: '\e8a5'; } /* '' */
.tc-font-icon-down-circled-1:before { content: '\e9ed'; } /* '' */
.tc-font-icon-left-circled-1:before { content: '\e9ea'; } /* '' */
.tc-font-icon-right-circled-1:before { content: '\e9e9'; } /* '' */
.tc-font-icon-up-circled2:before { content: '\e8a4'; } /* '' */
.tc-font-icon-up-circled-1:before { content: '\e9e6'; } /* '' */
.tc-font-icon-down-open-1:before { content: '\e9e2'; } /* '' */
.tc-font-icon-down-open:before { content: '\e8c6'; } /* '' */
.tc-font-icon-left-open:before { content: '\e8c5'; } /* '' */
.tc-font-icon-left-open-1:before { content: '\e9d3'; } /* '' */
.tc-font-icon-right-open:before { content: '\e8c4'; } /* '' */
.tc-font-icon-right-open-4:before { content: '\eaa1'; } /* '' */
.tc-font-icon-right-open-1:before { content: '\e9cc'; } /* '' */
.tc-font-icon-up-open:before { content: '\e8c3'; } /* '' */
.tc-font-icon-up-open-1:before { content: '\e9bf'; } /* '' */
.tc-font-icon-arrows-cw:before { content: '\e8dd'; } /* '' */
.tc-font-icon-down-open-mini:before { content: '\e9be'; } /* '' */
.tc-font-icon-arrows-cw-2:before { content: '\eaab'; } /* '' */
.tc-font-icon-play-circled2:before { content: '\e917'; } /* '' */
.tc-font-icon-left-open-mini:before { content: '\e995'; } /* '' */
.tc-font-icon-right-open-mini:before { content: '\e99e'; } /* '' */
.tc-font-icon-to-end-alt:before { content: '\e933'; } /* '' */
.tc-font-icon-to-start-alt:before { content: '\e941'; } /* '' */
.tc-font-icon-up-open-mini:before { content: '\e9ab'; } /* '' */
.tc-font-icon-down-open-big:before { content: '\e9b4'; } /* '' */
.tc-font-icon-left-open-big:before { content: '\e9c1'; } /* '' */
.tc-font-icon-right-open-big:before { content: '\e9c9'; } /* '' */
.tc-font-icon-up-open-big:before { content: '\e9d6'; } /* '' */
.tc-font-icon-progress-8:before { content: '\e997'; } /* '' */
.tc-font-icon-progress-9:before { content: '\e99c'; } /* '' */
.tc-font-icon-progress-10:before { content: '\e9ad'; } /* '' */
.tc-font-icon-inbox:before { content: '\e907'; } /* '' */
.tc-font-icon-font:before { content: '\e94c'; } /* '' */
.tc-font-icon-bold:before { content: '\e94f'; } /* '' */
.tc-font-icon-italic:before { content: '\e95a'; } /* '' */
.tc-font-icon-text-height:before { content: '\e95d'; } /* '' */
.tc-font-icon-text-width:before { content: '\e967'; } /* '' */
.tc-font-icon-align-left:before { content: '\e8e1'; } /* '' */
.tc-font-icon-align-center:before { content: '\e8ea'; } /* '' */
.tc-font-icon-align-right:before { content: '\e8ef'; } /* '' */
.tc-font-icon-align-justify:before { content: '\e8f8'; } /* '' */
.tc-font-icon-list:before { content: '\e8fd'; } /* '' */
.tc-font-icon-indent-left:before { content: '\e906'; } /* '' */
.tc-font-icon-indent-right:before { content: '\e90b'; } /* '' */
.tc-font-icon-dot:before { content: '\e9fb'; } /* '' */
.tc-font-icon-dot-2:before { content: '\e9fa'; } /* '' */
.tc-font-icon-dot-3:before { content: '\e9f9'; } /* '' */
.tc-font-icon-suitcase-1:before { content: '\e9fc'; } /* '' */
.tc-font-icon-off:before { content: '\e8f0'; } /* '' */
.tc-font-icon-road:before { content: '\e8f7'; } /* '' */
.tc-font-icon-list-alt:before { content: '\e8fe'; } /* '' */
.tc-font-icon-qrcode:before { content: '\e905'; } /* '' */
.tc-font-icon-barcode:before { content: '\e90c'; } /* '' */
.tc-font-icon-ajust:before { content: '\e91a'; } /* '' */
.tc-font-icon-tint:before { content: '\e921'; } /* '' */
.tc-font-icon-layers:before { content: '\e815'; } /* '' */
.tc-font-icon-magnet:before { content: '\e958'; } /* '' */
.tc-font-icon-down-micro:before { content: '\eaa8'; } /* '' */
.tc-font-icon-up-micro:before { content: '\eaa9'; } /* '' */
.tc-font-icon-cw-circle:before { content: '\eaaa'; } /* '' */
.tc-font-icon-post:before { content: '\e810'; } /* '' */
.tc-font-icon-down-open-2:before { content: '\ea76'; } /* '' */
.tc-font-icon-up-open-2:before { content: '\ea79'; } /* '' */
.tc-font-icon-right-open-3:before { content: '\ea78'; } /* '' */
.tc-font-icon-left-open-3:before { content: '\ea77'; } /* '' */
.tc-font-icon-logout-2:before { content: '\e837'; } /* '' */
.tc-font-icon-download-2:before { content: '\ea6d'; } /* '' */
.tc-font-icon-upload-2:before { content: '\ea6e'; } /* '' */
.tc-font-icon-monitor:before { content: '\e811'; } /* '' */
.tc-font-icon-chat-2:before { content: '\ea72'; } /* '' */
.tc-font-icon-move:before { content: '\e8a8'; } /* '' */
.tc-font-icon-facebook-circled-2:before { content: '\ea83'; } /* '' */
.tc-font-icon-facebook-3:before { content: '\ea80'; } /* '' */
.tc-font-icon-twitter-circled-2:before { content: '\ea81'; } /* '' */
.tc-font-icon-twitter-3:before { content: '\ea82'; } /* '' */
.tc-font-icon-user-3:before { content: '\ea5e'; } /* '' */
.tc-font-icon-user-male:before { content: '\ea5f'; } /* '' */
.tc-font-icon-user-female:before { content: '\ea60'; } /* '' */
.tc-font-icon-users-2:before { content: '\ea61'; } /* '' */
.tc-font-icon-attach-2:before { content: '\ea6b'; } /* '' */
.tc-font-icon-ok-circled-1:before { content: '\ea63'; } /* '' */
.tc-font-icon-cancel-circled-3:before { content: '\ea65'; } /* '' */
.tc-font-icon-export-2:before { content: '\ea73'; } /* '' */
.tc-font-icon-trash-3:before { content: '\ea70'; } /* '' */
.tc-font-icon-info-circled-2:before { content: '\ea69'; } /* '' */
.tc-font-icon-info-circled-alt:before { content: '\ea6a'; } /* '' */
.tc-font-icon-link-ext:before { content: '\e865'; } /* '' */
.tc-font-icon-check-empty:before { content: '\e92f'; } /* '' */
.tc-font-icon-bookmark-empty:before { content: '\e85a'; } /* '' */
.tc-font-icon-phone-squared:before { content: '\e89d'; } /* '' */
.tc-font-icon-twitter:before { content: '\e97a'; } /* '' */
.tc-font-icon-facebook:before { content: '\e971'; } /* '' */
.tc-font-icon-github-circled:before { content: '\e97c'; } /* '' */
.tc-font-icon-rss:before { content: '\e89a'; } /* '' */
.tc-font-icon-hdd:before { content: '\e8f6'; } /* '' */
.tc-font-icon-certificate:before { content: '\e91b'; } /* '' */
.tc-font-icon-left-circled:before { content: '\e8d7'; } /* '' */
.tc-font-icon-right-circled:before { content: '\e8d8'; } /* '' */
.tc-font-icon-up-circled:before { content: '\e8d9'; } /* '' */
.tc-font-icon-down-circled:before { content: '\e8da'; } /* '' */
.tc-font-icon-tasks:before { content: '\e920'; } /* '' */
.tc-font-icon-filter:before { content: '\e929'; } /* '' */
.tc-font-icon-resize-full-alt:before { content: '\e8ac'; } /* '' */
.tc-font-icon-beaker:before { content: '\e92e'; } /* '' */
.tc-font-icon-docs:before { content: '\e87e'; } /* '' */
.tc-font-icon-blank:before { content: '\e82f'; } /* '' */
.tc-font-icon-menu:before { content: '\e89e'; } /* '' */
.tc-font-icon-list-bullet:before { content: '\e914'; } /* '' */
.tc-font-icon-list-numbered:before { content: '\e919'; } /* '' */
.tc-font-icon-strike:before { content: '\e922'; } /* '' */
.tc-font-icon-underline:before { content: '\e927'; } /* '' */
.tc-font-icon-table:before { content: '\e93e'; } /* '' */
.tc-font-icon-magic:before { content: '\e937'; } /* '' */
.tc-font-icon-pinterest-circled:before { content: '\e969'; } /* '' */
.tc-font-icon-pinterest-squared:before { content: '\e96a'; } /* '' */
.tc-font-icon-gplus-squared:before { content: '\e980'; } /* '' */
.tc-font-icon-gplus:before { content: '\e985'; } /* '' */
.tc-font-icon-money:before { content: '\e945'; } /* '' */
.tc-font-icon-columns:before { content: '\e943'; } /* '' */
.tc-font-icon-sort:before { content: '\e8f5'; } /* '' */
.tc-font-icon-sort-down:before { content: '\e900'; } /* '' */
.tc-font-icon-sort-up:before { content: '\e903'; } /* '' */
.tc-font-icon-mail-alt:before { content: '\e821'; } /* '' */
.tc-font-icon-linkedin:before { content: '\e989'; } /* '' */
.tc-font-icon-gauge:before { content: '\e93b'; } /* '' */
.tc-font-icon-comment-empty:before { content: '\e88a'; } /* '' */
.tc-font-icon-chat-empty:before { content: '\e889'; } /* '' */
.tc-font-icon-sitemap:before { content: '\e946'; } /* '' */
.tc-font-icon-paste:before { content: '\e959'; } /* '' */
.tc-font-icon-lightbulb:before { content: '\e8b4'; } /* '' */
.tc-font-icon-exchange:before { content: '\e8ed'; } /* '' */
.tc-font-icon-download-cloud:before { content: '\e872'; } /* '' */
.tc-font-icon-upload-cloud:before { content: '\e873'; } /* '' */
.tc-font-icon-user-md:before { content: '\e964'; } /* '' */
.tc-font-icon-stethoscope:before { content: '\e8e5'; } /* '' */
.tc-font-icon-suitcase:before { content: '\e98c'; } /* '' */
.tc-font-icon-bell-alt:before { content: '\e887'; } /* '' */
.tc-font-icon-coffee:before { content: '\e953'; } /* '' */
.tc-font-icon-food:before { content: '\e956'; } /* '' */
.tc-font-icon-doc-text-2:before { content: '\e892'; } /* '' */
.tc-font-icon-building:before { content: '\e902'; } /* '' */
.tc-font-icon-hospital:before { content: '\e901'; } /* '' */
.tc-font-icon-ambulance:before { content: '\e8e6'; } /* '' */
.tc-font-icon-medkit:before { content: '\e8f3'; } /* '' */
.tc-font-icon-fighter-jet:before { content: '\e93f'; } /* '' */
.tc-font-icon-beer:before { content: '\e961'; } /* '' */
.tc-font-icon-h-sigh:before { content: '\e8f4'; } /* '' */
.tc-font-icon-plus-squared:before { content: '\e851'; } /* '' */
.tc-font-icon-angle-double-left:before { content: '\e8ba'; } /* '' */
.tc-font-icon-angle-double-right:before { content: '\e8b9'; } /* '' */
.tc-font-icon-angle-double-up:before { content: '\e8b8'; } /* '' */
.tc-font-icon-angle-double-down:before { content: '\e8b7'; } /* '' */
.tc-font-icon-angle-left:before { content: '\e8c2'; } /* '' */
.tc-font-icon-angle-right:before { content: '\e8c1'; } /* '' */
.tc-font-icon-angle-up:before { content: '\e8c0'; } /* '' */
.tc-font-icon-angle-down:before { content: '\e8bf'; } /* '' */
.tc-font-icon-desktop:before { content: '\e8eb'; } /* '' */
.tc-font-icon-laptop:before { content: '\e8ee'; } /* '' */
.tc-font-icon-tablet-1:before { content: '\e8f9'; } /* '' */
.tc-font-icon-mobile:before { content: '\e8fc'; } /* '' */
.tc-font-icon-circle-empty:before { content: '\e93d'; } /* '' */
.tc-font-icon-quote-left:before { content: '\e877'; } /* '' */
.tc-font-icon-quote-right:before { content: '\e878'; } /* '' */
.tc-font-icon-spinner:before { content: '\e949'; } /* '' */
.tc-font-icon-circle:before { content: '\e936'; } /* '' */
.tc-font-icon-reply:before { content: '\e874'; } /* '' */
.tc-font-icon-github:before { content: '\e978'; } /* '' */
.tc-font-icon-folder-empty:before { content: '\e897'; } /* '' */
.tc-font-icon-folder-open-empty:before { content: '\e898'; } /* '' */
.tc-font-icon-plus-squared-small:before { content: '\e852'; } /* '' */
.tc-font-icon-minus-squared-small:before { content: '\e857'; } /* '' */
.tc-font-icon-smile:before { content: '\e90f'; } /* '' */
.tc-font-icon-frown:before { content: '\e910'; } /* '' */
.tc-font-icon-meh:before { content: '\e91d'; } /* '' */
.tc-font-icon-gamepad:before { content: '\e88d'; } /* '' */
.tc-font-icon-keyboard:before { content: '\e88e'; } /* '' */
.tc-font-icon-flag-empty:before { content: '\e86b'; } /* '' */
.tc-font-icon-flag-checkered:before { content: '\e86c'; } /* '' */
.tc-font-icon-terminal:before { content: '\e92b'; } /* '' */
.tc-font-icon-code:before { content: '\e879'; } /* '' */
.tc-font-icon-reply-all:before { content: '\e875'; } /* '' */
.tc-font-icon-star-half-alt:before { content: '\e83d'; } /* '' */
.tc-font-icon-direction:before { content: '\e881'; } /* '' */
.tc-font-icon-crop:before { content: '\e94b'; } /* '' */
.tc-font-icon-fork:before { content: '\e904'; } /* '' */
.tc-font-icon-unlink:before { content: '\e866'; } /* '' */
.tc-font-icon-help:before { content: '\e858'; } /* '' */
.tc-font-icon-info:before { content: '\e868'; } /* '' */
.tc-font-icon-attention-alt:before { content: '\e886'; } /* '' */
.tc-font-icon-superscript:before { content: '\e930'; } /* '' */
.tc-font-icon-subscript:before { content: '\e935'; } /* '' */
.tc-font-icon-eraser:before { content: '\e92c'; } /* '' */
.tc-font-icon-puzzle:before { content: '\e939'; } /* '' */
.tc-font-icon-mic:before { content: '\e8ad'; } /* '' */
.tc-font-icon-mute:before { content: '\e8ae'; } /* '' */
.tc-font-icon-shield:before { content: '\e93a'; } /* '' */
.tc-font-icon-calendar-empty:before { content: '\e825'; } /* '' */
.tc-font-icon-extinguisher:before { content: '\e947'; } /* '' */
.tc-font-icon-rocket:before { content: '\e90d'; } /* '' */
.tc-font-icon-maxcdn:before { content: '\e98a'; } /* '' */
.tc-font-icon-angle-circled-left:before { content: '\e8be'; } /* '' */
.tc-font-icon-angle-circled-right:before { content: '\e8bd'; } /* '' */
.tc-font-icon-angle-circled-up:before { content: '\e8bc'; } /* '' */
.tc-font-icon-angle-circled-down:before { content: '\e8bb'; } /* '' */
.tc-font-icon-html5:before { content: '\e984'; } /* '' */
.tc-font-icon-css3:before { content: '\e96c'; } /* '' */
.tc-font-icon-anchor:before { content: '\e91e'; } /* '' */
.tc-font-icon-lock-open-alt:before { content: '\e860'; } /* '' */
.tc-font-icon-bullseye:before { content: '\e948'; } /* '' */
.tc-font-icon-ellipsis:before { content: '\e8e2'; } /* '' */
.tc-font-icon-ellipsis-vert:before { content: '\e8e9'; } /* '' */
.tc-font-icon-rss-squared:before { content: '\e89b'; } /* '' */
.tc-font-icon-play-circled:before { content: '\e916'; } /* '' */
.tc-font-icon-ticket:before { content: '\e966'; } /* '' */
.tc-font-icon-minus-squared:before { content: '\e855'; } /* '' */
.tc-font-icon-minus-squared-alt:before { content: '\e856'; } /* '' */
.tc-font-icon-level-up:before { content: '\e8de'; } /* '' */
.tc-font-icon-level-down:before { content: '\e8df'; } /* '' */
.tc-font-icon-ok-squared:before { content: '\e84b'; } /* '' */
.tc-font-icon-pencil-squared:before { content: '\e87c'; } /* '' */
.tc-font-icon-link-ext-alt:before { content: '\e864'; } /* '' */
.tc-font-icon-export-alt:before { content: '\e87d'; } /* '' */
.tc-font-icon-compass:before { content: '\e880'; } /* '' */
.tc-font-icon-collapse:before { content: '\e8fa'; } /* '' */
.tc-font-icon-collapse-top:before { content: '\e8fb'; } /* '' */
.tc-font-icon-expand:before { content: '\e908'; } /* '' */
.tc-font-icon-euro:before { content: '\e94a'; } /* '' */
.tc-font-icon-pound:before { content: '\e952'; } /* '' */
.tc-font-icon-dollar:before { content: '\e957'; } /* '' */
.tc-font-icon-rupee:before { content: '\e960'; } /* '' */
.tc-font-icon-yen:before { content: '\e965'; } /* '' */
.tc-font-icon-renminbi:before { content: '\e8e4'; } /* '' */
.tc-font-icon-won:before { content: '\e8e7'; } /* '' */
.tc-font-icon-bitcoin:before { content: '\e8f2'; } /* '' */
.tc-font-icon-doc-inv:before { content: '\e893'; } /* '' */
.tc-font-icon-doc-text-inv-1:before { content: '\e894'; } /* '' */
.tc-font-icon-sort-name-up:before { content: '\e91c'; } /* '' */
.tc-font-icon-sort-name-down:before { content: '\e91f'; } /* '' */
.tc-font-icon-sort-alt-up:before { content: '\e90e'; } /* '' */
.tc-font-icon-sort-alt-down:before { content: '\e911'; } /* '' */
.tc-font-icon-sort-number-up:before { content: '\e92a'; } /* '' */
.tc-font-icon-sort-number-down:before { content: '\e92d'; } /* '' */
.tc-font-icon-thumbs-up-alt:before { content: '\e98f'; } /* '' */
.tc-font-icon-thumbs-down-alt:before { content: '\e86f'; } /* '' */
.tc-font-icon-youtube-squared:before { content: '\e98b'; } /* '' */
.tc-font-icon-youtube:before { content: '\e831'; } /* '' */
.tc-font-icon-xing:before { content: '\e982'; } /* '' */
.tc-font-icon-xing-squared:before { content: '\e983'; } /* '' */
.tc-font-icon-youtube-play:before { content: '\e830'; } /* '' */
.tc-font-icon-dropbox:before { content: '\e970'; } /* '' */
.tc-font-icon-stackoverflow:before { content: '\e991'; } /* '' */
.tc-font-icon-instagramm:before { content: '\e986'; } /* '' */
.tc-font-icon-flickr:before { content: '\e974'; } /* '' */
.tc-font-icon-adn:before { content: '\e954'; } /* '' */
.tc-font-icon-bitbucket:before { content: '\e963'; } /* '' */
.tc-font-icon-bitbucket-squared:before { content: '\e96b'; } /* '' */
.tc-font-icon-tumblr:before { content: '\e975'; } /* '' */
.tc-font-icon-tumblr-squared:before { content: '\e976'; } /* '' */
.tc-font-icon-down:before { content: '\e8cb'; } /* '' */
.tc-font-icon-up:before { content: '\e8ce'; } /* '' */
.tc-font-icon-right:before { content: '\e8cd'; } /* '' */
.tc-font-icon-left:before { content: '\e8cc'; } /* '' */
.tc-font-icon-apple:before { content: '\e962'; } /* '' */
.tc-font-icon-windows:before { content: '\e981'; } /* '' */
.tc-font-icon-android-1:before { content: '\e955'; } /* '' */
.tc-font-icon-linux:before { content: '\e988'; } /* '' */
.tc-font-icon-dribbble:before { content: '\e96d'; } /* '' */
.tc-font-icon-skype:before { content: '\e96f'; } /* '' */
.tc-font-icon-foursquare:before { content: '\e977'; } /* '' */
.tc-font-icon-trello:before { content: '\e972'; } /* '' */
.tc-font-icon-female:before { content: '\e841'; } /* '' */
.tc-font-icon-male:before { content: '\e840'; } /* '' */
.tc-font-icon-gittip:before { content: '\e97f'; } /* '' */
.tc-font-icon-sun:before { content: '\e915'; } /* '' */
.tc-font-icon-moon:before { content: '\e926'; } /* '' */
.tc-font-icon-box-1:before { content: '\e899'; } /* '' */
.tc-font-icon-bug:before { content: '\e912'; } /* '' */
.tc-font-icon-vkontakte:before { content: '\e97d'; } /* '' */
.tc-font-icon-weibo:before { content: '\e97e'; } /* '' */
.tc-font-icon-renren:before { content: '\e96e'; } /* '' */
.tc-font-icon-github-squared:before { content: '\e97b'; } /* '' */
.tc-font-icon-facebook-rect:before { content: '\eaad'; } /* '' */
.tc-font-icon-twitter-bird:before { content: '\eaae'; } /* '' */
.tc-font-icon-twitter-squared:before { content: '\e979'; } /* '' */
.tc-font-icon-facebook-squared:before { content: '\e973'; } /* '' */
.tc-font-icon-twitter-1:before { content: '\e999'; } /* '' */
.tc-font-icon-googleplus-rect:before { content: '\eaaf'; } /* '' */
.tc-font-icon-twitter-circled:before { content: '\e99b'; } /* '' */
.tc-font-icon-linkedin-squared:before { content: '\e987'; } /* '' */
.tc-font-icon-facebook-1:before { content: '\e9ae'; } /* '' */
.tc-font-icon-facebook-circled:before { content: '\e9b1'; } /* '' */
.tc-font-icon-facebook-squared-1:before { content: '\e9c4'; } /* '' */
.tc-font-icon-gplus-1:before { content: '\e9c5'; } /* '' */
.tc-font-icon-linkedin-rect:before { content: '\eaac'; } /* '' */
.tc-font-icon-tumblr-1:before { content: '\e9c6'; } /* '' */
.tc-font-icon-tumblr-circled:before { content: '\e9d9'; } /* '' */
.tc-font-icon-linkedin-1:before { content: '\e9da'; } /* '' */
.tc-font-icon-linkedin-circled:before { content: '\e9db'; } /* '' */
.tc-font-icon-comment-2:before { content: '\ea71'; } /* '' */
.tc-font-icon-search-4:before { content: '\e82b'; } /* '' */
.tc-font-icon-lock-2:before { content: '\ea6c'; } /* '' */
.tc-font-icon-picture:before { content: '\e844'; } /* '' */
.tc-font-icon-picture-1:before { content: '\ea89'; } /* '' */
.tc-font-icon-globe:before { content: '\e90a'; } /* '' */
.tc-font-icon-leaf:before { content: '\e942'; } /* '' */
.tc-font-icon-lemon:before { content: '\e82e'; } /* '' */
.tc-font-icon-glass:before { content: '\e82d'; } /* '' */
.tc-font-icon-gift:before { content: '\e990'; } /* '' */
.tc-font-icon-graduation-cap:before { content: '\e99a'; } /* '' */
.tc-font-icon-videocam:before { content: '\e843'; } /* '' */
.tc-font-icon-headphones:before { content: '\e8b2'; } /* '' */
.tc-font-icon-ticket-1:before { content: '\e9b0'; } /* '' */
.tc-font-icon-video:before { content: '\e842'; } /* '' */
.tc-font-icon-target:before { content: '\e95c'; } /* '' */
.tc-font-icon-target-1:before { content: '\e9b2'; } /* '' */
.tc-font-icon-award:before { content: '\e8e0'; } /* '' */
.tc-font-icon-thumbs-up:before { content: '\e86d'; } /* '' */
.tc-font-icon-thumbs-down:before { content: '\e86e'; } /* '' */
.tc-font-icon-user-4:before { content: '\ea88'; } /* '' */
.tc-font-icon-user:before { content: '\e83e'; } /* '' */
.tc-font-icon-user-2:before { content: '\ea44'; } /* '' */
.tc-font-icon-users:before { content: '\e83f'; } /* '' */
.tc-font-icon-lamp:before { content: '\e994'; } /* '' */
.tc-font-icon-credit-card:before { content: '\e8e3'; } /* '' */
.tc-font-icon-credit-card-1:before { content: '\e9dc'; } /* '' */
.tc-font-icon-monitor-1:before { content: '\e9c3'; } /* '' */
.tc-font-icon-briefcase-2:before { content: '\e9dd'; } /* '' */
.tc-font-icon-briefcase-1:before { content: '\e95e'; } /* '' */
.tc-font-icon-floppy:before { content: '\e8e8'; } /* '' */
.tc-font-icon-folder:before { content: '\e895'; } /* '' */
.tc-font-icon-folder-1:before { content: '\e993'; } /* '' */
.tc-font-icon-folder-open:before { content: '\e896'; } /* '' */
.tc-font-icon-doc-text-1:before { content: '\e81c'; } /* '' */
.tc-font-icon-doc:before { content: '\e884'; } /* '' */
.tc-font-icon-calendar:before { content: '\e832'; } /* '' */
.tc-font-icon-chart-bar:before { content: '\e95f'; } /* '' */
.tc-font-icon-clipboard-2:before { content: '\e81f'; } /* '' */
.tc-font-icon-pin:before { content: '\e85f'; } /* '' */
.tc-font-icon-attach-3:before { content: '\ea92'; } /* '' */
.tc-font-icon-attach-1:before { content: '\e9bb'; } /* '' */
.tc-font-icon-attach:before { content: '\e863'; } /* '' */
.tc-font-icon-bookmarks:before { content: '\e9a2'; } /* '' */
.tc-font-icon-book:before { content: '\e814'; } /* '' */
.tc-font-icon-book-1:before { content: '\e913'; } /* '' */
.tc-font-icon-phone:before { content: '\e89c'; } /* '' */
.tc-font-icon-megaphone:before { content: '\e8f1'; } /* '' */
.tc-font-icon-upload-1:before { content: '\ea46'; } /* '' */
.tc-font-icon-upload:before { content: '\e871'; } /* '' */
.tc-font-icon-download-1:before { content: '\ea45'; } /* '' */
.tc-font-icon-download:before { content: '\e870'; } /* '' */
.tc-font-icon-box:before { content: '\e9a9'; } /* '' */
.tc-font-icon-mobile-1:before { content: '\e9de'; } /* '' */
.tc-font-icon-signal:before { content: '\e968'; } /* '' */
.tc-font-icon-camera:before { content: '\e845'; } /* '' */
.tc-font-icon-shuffle:before { content: '\e8ec'; } /* '' */
.tc-font-icon-arrows-ccw:before { content: '\e9c8'; } /* '' */
.tc-font-icon-volume-off:before { content: '\e8af'; } /* '' */
.tc-font-icon-volume-down:before { content: '\e8b0'; } /* '' */
.tc-font-icon-volume-up:before { content: '\e8b1'; } /* '' */
.tc-font-icon-search-5:before { content: '\ea84'; } /* '' */
.tc-font-icon-search:before { content: '\e827'; } /* '' */
.tc-font-icon-search-1:before { content: '\e9ba'; } /* '' */
.tc-font-icon-search-3:before { content: '\e82a'; } /* '' */
.tc-font-icon-search-2:before { content: '\e829'; } /* '' */
.tc-font-icon-key:before { content: '\e8ff'; } /* '' */
.tc-font-icon-lock-1:before { content: '\e9a5'; } /* '' */
.tc-font-icon-lock:before { content: '\e862'; } /* '' */
.tc-font-icon-lock-open:before { content: '\e861'; } /* '' */
.tc-font-icon-bell:before { content: '\e888'; } /* '' */
.tc-font-icon-bookmark:before { content: '\e824'; } /* '' */
.tc-font-icon-bookmark-1:before { content: '\e828'; } /* '' */
.tc-font-icon-link:before { content: '\e867'; } /* '' */
.tc-font-icon-fire:before { content: '\e951'; } /* '' */
.tc-font-icon-wrench-1:before { content: '\ea20'; } /* '' */
.tc-font-icon-wrench-2:before { content: '\ea5c'; } /* '' */
.tc-font-icon-wrench:before { content: '\e8a1'; } /* '' */
.tc-font-icon-hammer:before { content: '\e938'; } /* '' */
.tc-font-icon-clock-4:before { content: '\eaa0'; } /* '' */
.tc-font-icon-clock-1:before { content: '\e9b7'; } /* '' */
.tc-font-icon-clock:before { content: '\e8b3'; } /* '' */
.tc-font-icon-clock-2:before { content: '\ea1b'; } /* '' */
.tc-font-icon-truck:before { content: '\e93c'; } /* '' */
.tc-font-icon-block-1:before { content: '\ea9f'; } /* '' */
.tc-font-icon-block:before { content: '\e8b5'; } /* '' */

/* TC FONT ICON ADDENDUMS */
.tc-font-icon-generaldetails:before { content: '\e800'; } /* '' */
.tc-font-icon-generaldetails2:before { content: '\e8fd'; } /* '' */
.tc-font-icon-enrollments:before { content: '\ea61'; } /* '' */
.tc-font-icon-resources:before { content: '\e998'; } /* '' */
.tc-font-icon-resources2:before { content: '\e920'; } /* '' */
.tc-font-icon-catalogoptions:before { content: '\e85b'; } /* '' */